:root {
  --primary-color: rgb(46, 124, 78);
  --primary-color-darker: rgb(31, 88, 74);
  --color-paragraph: rgb(131, 194, 155);
  --color-span: rgb(102, 25, 25);
  --color-bg-span: rgb(252, 138, 138);
}

* {
  box-sizing: border-box;
  outline: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--primary-color);
  background-image: url("../img/scale.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.75rem;
  color: rgb(1, 68, 1);
}

label {
  font-size: 1rem;
}

.container {
  max-width: 640px;

  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border: 10px solid var(--primary-color-darker);
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border-radius: 10px 30px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;

  border-radius: 10px;
}

form button:hover {
  background-color: var(--primary-color-darker);
}

.aceito {
  text-align: center;

  color: var(--primary-color-darker);
  background-color: var(--color-paragraph);

  padding: 1rem;
  border-radius: 10px;
}

.negado {
  display: block;
  text-align: center;

  color: var(--color-span);
  background-color: var(--color-bg-span);

  padding: 1rem;
  border-radius: 10px;
}
